@media only screen and (max-width: 1500px) {
    .container-left-items span{
        font-size: 2em;
    }

    .container-left-items span.friends{
        font-size: 2em;
    }
}

@media only screen and (max-width: 1250px) {
    .container-left-items span{
        font-size: 1.5em;
    }

    .container-left-items span.friends{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1000px) {
    .container-left-items span{
        font-size: 1.2em;
    }

    .container-left-items span.friends{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 885px) {
    .navbarmenu{
        background-color: #3d9974;
        position: relative;
        min-height: 30px;
        max-height: 30px;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .container-left{
        display: none;
    }

    .container-right{
        display: grid;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding: 10px 10px;
        border-radius: 15px;
        width: 90%;
    }

    .container-right-items{
        display: grid;
        margin: 10px;
    }

    .answer{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }

    .btn{
        width: 90%;
    }
}    

@media only screen and (max-width: 500px) {

    .container-right-items{
        margin: 10px;
    }

    .container-right-items{
        grid-template-rows: .4fr 1fr 2fr 3.6fr;
    }
  
    .question{
        font-size: 1em;
    }
}    